@model SpendingReport.ViewModels.TransactionDescriptionsViewModel
@{
    ViewBag.Title = "TransactionDescriptionsViewModels";
    Layout = "~/Views/Shared/SpendingMaster.cshtml";
}


    <fieldset>
        <table>
            @foreach (var item in Model.Descriptions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_=>item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Description, "DescriptionsTemplate")
                    </td>
                    <td>
                        @Html.ActionLink("Add description", "AddPaymentDescription","Reports", new{@DescriptionId = item.Id},null)
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Add new transaction description", "AddPaymentDescription", "Reports")
        
    </fieldset>

