<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  
  <connectionStrings>
    <add name="SpendingContext" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUBO-NB\SQLEXPRESS;initial catalog=SpendingReport;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>